.experience__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

// // for direct child
.experience__container > div {
    background: var(--color-bg-varient);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);

    h3 {
        text-align: center;
        margin-bottom: 2rem;
        color: var(--color-primary);
    }
}

.experience__container > div:hover {
    background: transparent;
    border: 1px solid var(--color-primary-variant);
    cursor: default;
}

.experience__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;

    .experience__details {
        display: flex;
        gap: 1rem;
        &-icon {
            margin-top: 6px;
            color: var(--color-primary);
        }
    }
}
