.top {
  width: 100%;
  height: 50px;
  /* background-color: aqua; */
  background-color: white;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  font-family: "Josefin Sans";
  z-index: 888;
}

.topLeft,
.topRight {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: tomato; */
}

.topCenter {
  flex: 2;
}

.topImg {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.topIcon {
  font-size: 20px;
  margin-right: 10px;
  color: #444;
  cursor: pointer;
}

.topList {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.topListItem {
  margin-right: 20px;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
}

.topSearchIcon {
  font-size: 18px;
  cursor: pointer;
  color: #666;
  margin-left: 15px;
}
