.wrapper-pressure{
    margin: 20px 18px 30px 15px;
    padding: 10px 0 30px 0;
    background-color:rgb(255, 255, 255);
    border: 2px solid rgba(133, 133, 133, 0.144);
    border-radius: 25px;
    box-shadow: 12px 11px 30px -12px #75A3F1;
    text-align: center;
}

.wrapper-pressure h1{
    font-size: 20px;
    font-weight: 600;
    color: #75A3F1;
    margin: 0px 19px 15px;
    text-align: center;
}

.pressure-container{
    height: 70px;
    padding-left: 5px;
    min-width: 122;
}

.pressure{
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 27px;
    color: #37B8FF;
    font-weight: 700;
    text-decoration: rgb(68, 68, 68);
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}