.settings-main-div{
    text-align: left;
    margin-top: 10px;
}

.settings-heading{
    font-size: 33px;
    font-weight: 500;
    color: rgb(38, 212, 113);
}

.spinner{
    color: rgb(75, 219, 219);
    font-size: 34 ;
    margin-top: -10px;
}

.location-heading{
    font-size: 23px;
    font-weight: 500;
    color:rgb(75, 219, 219);
}

.settings-h4{
    font-size: 17px;
}

.city-box{
    margin: 20px 0 0px;
    height: 30px;
    border-radius: 10px;
    border: 2px solid rgba(156, 70, 236, 0.507);
}

.city-box[type="text"]{
    color: rgb(58, 58, 58);
    padding-left: 5px;
}