.wrapper-compbox{
    margin: 20px 18px 30px 15px;
    padding: 10px 0 30px 0;
    background-color:rgba(255, 255, 255, 0.178);
    border: 2px solid rgba(133, 133, 133, 0.144);
    border-radius: 25px;
    box-shadow: 3px 11px 71px -15px rgba(163, 163, 163, 0.75);
    text-align: center;
    position: relative;
    height: 90px;
}

.wrapper-compbox h1{
    font-size: 20px;
    font-weight: 500;
    color: rgba(255, 37, 208, 0.85);
    margin: 0px 19px 15px;
    text-align: left;
}

.compbox-container{
    height: 120px;
    width: fit-content;
    padding-left: 5px;
    min-width: 122;
    border: 2px solid rgba(204, 204, 204, 0.514);
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    box-sizing: border-box;
    text-align: left;
    padding: 10px 20px;
    position: absolute;
    left: 10px;
}

.compbox-container h3{
    font-size: 17px;
}

.compbox-container h4{
    font-size: 14px;
    margin-top: 8px;
    color: rgb(82, 82, 82);
}

.compbox-container-date{
    height: 50px;
    width: fit-content;
    padding-left: 5px;
    min-width: 122;
    border: 2px solid rgba(204, 204, 204, 0.514);
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 25px;
    box-sizing: border-box;
    text-align: left;
    padding: 15px 20px 20px;
    position: absolute;
    right: 0px;
    margin-top: 70px;
}

.compbox-container-date  h3 span{
    color: rgba(255, 0, 0, 0.726);
    font-size: 20px;
}